@font-face {
    font-family: Caveat;
    src: url("../font/Caveat-Regular.ttf");
}
body {
    margin: 0;
    height: 100vh;
}

/* Design Page Sakura that is Home */
#main {
    background-image: url('../img/Japan-Traditional-Painting.jpg');
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    height: 92vh;
}

.logo-container {
    height: 15vh;
}

.img-brand {
    height: 100%;
}

.main-text {
    height: 20vh;
    font-size:3rem;
    font-family: Caveat;
    width: 15vw;
}



.principal-text {
    background-color: #F8F9FA;
}

.footer-text {
    height: 15vh;
}

/* Navigation Header Fixed to Sakura nav Item*/
.menu-toolbar {
    display: block;
}

@media (min-width: 992px) {
    .menu-toolbar {
        display: flex;
    }

    .main-text { font-size: 2rem;}
}

@media (min-width: 576px) and (max-width: 991px) {
    .main-text { font-size: 1.5rem;}
}

/* Dishes */
#cardmenu {
    display: flex;
    margin: 3rem;
    width: 25vw;
    justify-content: center;
}

.section-dishes {
    list-style-type: disc;
}

.section-dishes-items {
    list-style-type: circle;
}
