@font-face {
    font-family: Caveat;
    src: url("../font/Caveat-Regular.ttf");
}
body {
    margin: 0;
    height: 100vh;
}

/* Design Page Sakura that is Home */
#main {
    background-image: url('../img/Japan-Traditional-Painting.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat repeat;
    height: 92vh;
}

#gallery {
    background-image: url('../img/Japan-Traditional-Painting.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat repeat;
}

.logo-container {
    height: 15vh;
}

.img-brand {
    height: 100%;
}

.main-text {
    height: 20vh;
    font-family: Caveat;
    width: 15vw;
}

.principal-text {
    background-color: #F8F9FA;
}

.footer-text {
    height: 20vh;
}

.footer-kanji {
    margin-top: 0.5rem;
}

/* Navigation Header Fixed to Sakura nav Item*/
.menu-toolbar {
    display: block;
}

@media (min-width: 992px) {
    .menu-toolbar {
        display: flex;
    }
}

@media (min-width: 1360px) {
    .main-text { 
        font-size: 2.5rem;
    }

    .footer-kanji {
        font-size: 1.5rem;
    }
    
}

@media (min-width: 1020px) and (max-width: 1359px) {
    .main-text {
        font-size: 1.75rem;
    }

    .footer-kanji {
        font-size: 1.25rem;
    }
}

@media (min-width: 576px) and (max-width: 1019px) {
    .main-text {
        font-size: 1.5rem;
    }

    .footer-kanji {
        font-size: 1.25rem;
    }
}

@media (max-width: 991px) {
    .main-text {
        font-size: 2rem;
    }

    .footer-kanji {
        font-size: 1.5rem;
    }
}

/* Dishes Deserts and Drinks Cards */
#cardmenu {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    min-width: 25vw;
    background-color: #F8F9FA;
}

.section-dishes {
    list-style-type: disc;
}

.section-dishes-items {
    list-style-type: circle;
}

/* About Us */
.kaiseki-img {
    height: 93%;
}

.about-tittle {
    font-size: 2.5rem;
}

@media (min-width: 590px) and (max-width: 873px){
    .about-tittle{
        font-size: 2rem;
    }
}

@media (max-width: 590px){
    .about-tittle{
        font-size: 1.5rem;
    }
}

.about-text {
    font-size: 1.2rem;
}

@media (max-width: 820px){
    .about-text {
        font-size: 0.9rem;
    }
}